<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".view.edit.PersonalBottariEditActivity"
            android:exported="false" />
        <activity
            android:name=".view.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.checklist.ChecklistActivity"
            android:exported="false" />
    </application>

</manifest>